# Core Django
Django>=5.0,<5.2
drf-spectacular
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
django-crispy-forms
crispy-bootstrap5
django-guardian
django-crum
django-simple-history
django-allauth

# Database & Cache
psycopg2-binary
redis==5.0.1
django-redis

# Server & Async
gunicorn
uvicorn
daphne
channels
channels-redis

# Utilities
python-decouple
python-dotenv
requests
pillow
pytz
sqlparse
openpyxl
pandas>=2.0.0
numpy>=1.26.0

# Monitoring
sentry-sdk

# Deployment
whitenoise
celery

# Localization
arabic-reshaper
python-bidi

# Integration
qrcode
twilio
stripe

# PDF & Reporting
weasyprint
reportlab
xhtml2pdf
