{% load i18n %}{% autoescape off %}
{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at Elite Shine ERP.{% endblocktranslate %}

{% translate "Please go to the following page and choose a new password:" %}
{% blocktranslate %}{{ protocol }}://{{ domain }}{% endblocktranslate %}/reset-password/{{ uid }}/{{ token }}/

{% translate "Your username, in case you’ve forgotten:" %} {{ user.get_username }}

{% translate "Thanks for using our site!" %}

{% blocktranslate %}The Elite Shine Team{% endblocktranslate %}

{% endautoescape %}
